/* 1 - Page Styles */
/* 2 - Header Area */
/* 3 - Board Area */

/* 3 - Player Choose */
/* 4 - House Choose */
/* 5 - Result */
/* 6 - Rules */


*,
::before,
::after {
    box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body, html, .App, #root {
    height: 100%;
   
}


body {
    background: radial-gradient(at top center, hsl(214, 47%, 23%), hsl(237, 49%, 15%) );
    background-repeat: no-repeat;
    background-size:cover;
    padding-block: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
}

/* Header Area */

.head {
    border: 2px solid hsl(217, 16%, 45%);
    padding: 1em;
    border-radius: .4em;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 400px;
    max-width: 700px;

}

.head img {
    height: 3.5rem;
}

.score {
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    border-radius: .6em;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    height: 4rem;
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    gap: .2em;
}


.score span {
    font-size: 3em;
    color: hsl(229, 25%, 31%);
    line-height: .9em;
    font-weight: 700;
}



/* 3 - Board Area */

.board, .result {
    font-size: 14px;
/*     background: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%; */
    max-width: 80%;
    margin: 0 auto;
    flex: 1 1 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

}


.playagain {
    flex: 1;
    margin: 0 auto;
    text-align: center;
}



.result button, .board button {
    overflow: hidden;
    border-radius: 50%;
    text-indent: 15em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 10em;
    width: 10em;
    background-size: 3.5em 3.5em;
    border-width: 16px
    
}

.you, .house {
    display: flex;
    flex-direction: column;
}

.board button, .you button, .house button {
    margin: 0 auto;
}

.result div, .board div {
    flex: 1 1 50%;
}

.result {
    width: 70%;
}

#paper {
    background-image: url(./images/icon-paper.svg);
    border-style: solid;
    border-color: hsl(230, 89%, 62%);
}

#rock {
    background-image: url(./images/icon-rock.svg);
    border-style: solid;
    border-color: hsl(349, 71%, 52%);
}

#scissors {
    background-image: url(./images/icon-scissors.svg);
    border-style: solid;
    border-color: hsl(39, 89%, 49%);
}

button#stub {
    background-color:  hsl(237, 49%, 15%);
    border: none;
}



button:disabled {
    background-color: white;
}



.you, .house {
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.playagain {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.playagain button {
    width: 10em;
    height: 2.5em;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 7px;
    text-indent: 0;
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(229, 25%, 31%);
}


/* Rules */


.rules {
    text-align: center;
}



.rules button {
    background: transparent;
    border-radius: .5em;
    text-transform: uppercase;
    border: 1px solid hsl(217, 16%, 45%);
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: .8em 2em;
    border: 1px solid #fff;
    
}



